# Node modules
node_modules/

# Build outputs
dist/
build/
.vscode/

# Environment variables
.env
./package-lock.json

# Microsoft package file
packages-microsoft-prod.deb

# Azure Functions project settings
azure-functions-monitoring/
package-lock.json
